---
layout: page
---

<div class="container {% if page.skinny %}skinny{% endif %} vspace">
  <article>

    <h1 class="post-title">
      <a href="{{ page.url }}"
         title="Permalink to page"
         style="outline-width: 0px !important; user-select: text !important;">{{ page.title }}</a>
    </h1>

    <ol class="breadcrumb">
        <li><a href="{{ site.url }}">Home</a></li>
        {% for crumb in page.breadcrumbs %}
        <li><a href="{{ site.baseurl }}{{ crumb.url }}">{{ crumb.name }}</a></li>
        {% endfor %}
        <li class="active">{{ page.title }}</li>
    </ol>
    
    {% if page.versions %}
    <br>
    <div class="sheet padder">
      <span class="smaller">
        This page refers to the following specific versions or dependencies:
      </span>
      <dl>
        {% for version in page.versions %}
        <dt>
          {{ version.name }}
        </dt>
        <dd>
          {{ version.value }}
        </dd>
        {% endfor %}
      </dl>
    </div>
    <br>
    {% endif %}

    {{ content }}
  </article>
</div>


