<!DOCTYPE html>
<head>
  <title>{{ site.title }} :: {{ page.title }}</title>

  <meta charset="UTF-8">
  <meta name="theme-color" content="{{ site.theme_colour }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
  
  <link rel="stylesheet" href="https://content.robotical.io/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css?v={{site.time}}">

  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }} :: {{ site.title }}" />
  <meta property="og:site_name" content="{{ page.title }} :: {{ site.title }}" />
  <meta property="og:type" content="website" />

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
  <link rel="apple-touch-icon icon" href="{{ site.baseurl }}/img/touchicon-lg.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/touchicon-lg.png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>
<body>

  {{ content }}

</body>
</html>
